.nav-header {
    width: 1100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
}

.content-block {
    width: 1100px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(230, 230, 230, 0.9);
    border: 2px solid black;
}

\header {
    margin: 20px;
}