<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>3rAgency {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/SiteIcon.png' %}">
  </head>

  <header>
    <div class="container-fluid nav-header">
      {% include "includes/navbar.html" %}
    </div>
  </header>

  <body style="background-image: url({% static 'images/background1.jpg' %}); background-size: cover;">
    <div class="container-fluid content-block">
      {% block content %}
        Newspaper's Agency Info
      {% endblock %}
    </div>
  </body>
</html>
