{% extends "base.html" %}

{% block title %}
  | Newspapers
{% endblock %}

{% block content %}
  <h1>
    Newspapers
  </h1>

  {% if newspaper_list %}
    List of our newspapers:
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <th>ID</th>
        <th>Title</th>
        <th>Topic</th>
        <th>Published Date</th>
      </thead>

      {% for newspaper in newspaper_list %}
        <tr>
          <td>
            <a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}" class="btn btn-dark btn-sml">
              {{ newspaper.id }}
            </a>
          </td>
          <td>
              {{ newspaper.title }}
          </td>
          <td>
              {{ newspaper.topic }}
          </td>
          <td>
              {{ newspaper.published_date }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>Newspapers not found.</p>
  {% endif %}
{% endblock %}
