{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>{{ object|yesno:"Update,Create" }} redactor {{ redactor.username }}</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="{{ object|yesno:"Update,Register" }}" class="btn btn-dark">
    <input type="hidden" name="next" value="{{ next }}" />
    <a href="{% url 'newspaper:redactor-list' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
