{% extends "base.html" %}

{% block content %}
  <h1>
    Topic List
  </h1>

  {% if manufacturer_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
      </tr>

      {% for topic in topic_list %}
        <tr>
          <td>
              {{ topic.id }}
          </td>
          <td>
              {{ topic.name }}
          </td>
          <td>
              {{ topic.country }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no topics in the agency.</p>
  {% endif %}
{% endblock %}
