{% extends "base.html" %}

{% block title %}
  | Topics
{% endblock %}

{% block content %}
    <h1>
      Topics
    </h1>

  {% if topic_list %}
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <th>ID</th>
        <th>Name</th>
      </thead>

      {% for topic in topic_list %}
        <tr>
          <td>
              {{ topic.id }}
          </td>
          <td>
              {{ topic.name }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>Topics not found.</p>
  {% endif %}
{% endblock %}
