{% extends "base.html" %}

{% block content %}
  <h1>
    Topic: {{ topic.name }}
    {% if user.is_staff %}
      <div class="float-right d-flex align-items-center">
        <a href="{% url 'newspaper:topic-update' pk=topic.id %}" class="btn btn-dark">Update</a>
        <a href="{% url 'newspaper:topic-delete' pk=topic.id %}" class="btn btn-secondary">Delete</a>
      </div>
    {% endif %}
  </h1>
  <hr>

  {% if topic.newspapers.exists %}
    <div class="ml-3">
      <h4>List of newspapers:</h4>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <th>ID</th>
          <th>Title</th>
          <th>Topic</th>
          <th>Published Date</th>
        </thead>

        {% for newspaper in topic.newspapers.all %}
          <tr>
            <td>
              <a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}" class="btn btn-dark btn-sm">
                {{ newspaper.id }}
              </a>
            </td>
            <td style="vertical-align: middle">
              {{ newspaper.title }}
            </td>
            <td style="vertical-align: middle">
              {{ newspaper.topic }}
            </td>
            <td style="vertical-align: middle">
              {{ newspaper.published_date }}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    No newspapers.
  {% endif %}
{% endblock %}
