{% extends "base.html" %}

{% block content %}
  <h1>
    Topic List
  </h1>

  {% if topic_list %}
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <th>ID</th>
        <th>Name</th>
      </thead>

      {% for topic in topic_list %}
        <tr>
          <td>
              {{ topic.id }}
          </td>
          <td>
              {{ topic.name }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no topics in the agency.</p>
  {% endif %}
{% endblock %}
